*.exe
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.vcxproj.user
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.opendb
*.db
*.LSOverride
*.xcworkspace
*.xcuserdata
*.xcschememanagement.plist
build-*
ipch/*
gui/*
design/*

Icon?
.DS_Stor*